################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/node_modules
/NodeDemoApp/node_modules
Node.js_Work/EssentialTraining/File System Basics/assets/notes.md
